{% extends 'templates/base.html' %}
{% block content %}

<head>
<h4>
  <span class="step inactive"><span>1</span> Info &rarr; </span>
  <span class="step inactive"><span>2</span> Plan &rarr; </span>
  <span class="step"><span>3</span> Create Account &rarr; </span>
  <span class="step inactive"><span>4</span> Billing &rarr; </span>
  <span class="step inactive"><span>5</span> Done!</span>
</h4>
</head>

<body>
<div class="centered" style="margin-top: 10px;">
  <form action="{{account_url}}" method="post">
  <table style="margin-top: 50px; width: 100%; margin: 0 auto;">
    {% if message %}<tr><td>&nbsp;</td><td style="color: red; font-size: smaller;">{{ message }}</td></tr>{% endif %}
    <tr><td style="padding-bottom: 10px; padding-right: 5px; text-align: right;" class="field-label">Username:</td>
        <td style="padding-bottom: 10px;">{% if pick_username %}
            <input type="text" name="username" value="{{ username }}" />{% else %}<strong>{{ username }}</strong>
            <input type="hidden" name="username" value="{{ username }}" />{% endif %} @{{ domain }}
            <input type="hidden" name="plan" value="{{ plan }}" /></td></tr>
    <tr><td style="text-align: right;" class="field-label">Password:</td><td><input type="password" name="password" /></td></tr>
    <tr><td style="text-align: right;" class="field-label">Confirm:</td><td><input type="password" name="password_confirm" /></td></tr>
  </table>
  <div style="font-size: smaller; margin-left: 216px;">
    <input type="submit" value="Next step &rarr;" style="font-size: large; margin-top: 25px;" /><br />
    <span style="font-size: 11px">You will be taken to a secure page<br /> at <a href="http://spreedly.com/">Spreedly</a> for payment.</span>
  <br />
  </div>
  </form>
</div>
</body>
{% endblock %}
