{% extends 'templates/base.html' %}
{% block content %}

<head>
<h4>
  <span class="step inactive"><span>1</span> Info &rarr; </span>
  <span class="step inactive"><span>2</span> Plan &rarr; </span>
  <span class="step"><span>3</span> Create Account &rarr; </span>
  <span class="step inactive"><span>4</span> Billing &rarr; </span>
  <span class="step inactive"><span>5</span> Done!</span>
</h4>
</head>

<body>
<div class="centered-horizontal" style="margin-top: 10px;">

  {% include 'templates/new_password.html' %}

  <div style="font-size: smaller; text-align: center; margin-top: 50px;">
    <span style="font-size: 11px">You will be taken to a secure page<br /> at
        <a href="http://pinpayments.com/">Pin Payments</a> for payment.</span>
  <br />
  </div>
  </form>
</div>
</body>
{% endblock %}
