{% extends 'templates/base.html' %}
{% block content %}


<h2>Generate Subscription Link</h2>


Name: {{u.first_name}} {{u.last_name}}
<br>Username: {{u.username}}
<br>E-mail: {{u.email}}

<ul>
<li><b>Full</b> - the standard $100/mo plan</li>
<li><b>Supporter</b>  - a $10/mo plan for people that just want to help out (<i>not a membership</i>)</li>
<li><b>Hardship</b>  - a $40/mo plan for financial hardship applicants (<i>must be approved by treasurer</i>)</li>
<li><b>Worktrade</b>  - a free plan for volunteers (<i>must be approved by directors@ in writing</i>)</li>
<li><b>Family</b>  - a $50/mo plan for additional family members in same household</li>
<li><b>Comped</b>  - for director-approved 12-month comped membership</li>
<li><b>ThreeComped</b>  - for director-approved 3-month comped memberships</li>
<li><b>Yearly</b>  - for anyone wanting to pay $1,200 up front for one year</li>
<li><b>FiveYear</b>  - for anyone wanting to pay $5,000 for five years (save $1,000)</li>
</ul>



{% for p in plan_ids %}
<h2>{{p.0|title}}</h2>
<textarea rows=8 style="width:600px">Hi {{u.first_name}},

You can subscribe at the '{{p.0}}' rate with the following link:
https://subs.pinpayments.com/{{sa}}/subscribers/{{key}}/{{u.spreedly_token}}/subscribe/{{p.1}}

Let me know if you have any problems!</textarea>

{% endfor %}

{% endblock %}
