{% extends 'templates/base.html' %}
{% block content %}

<script type="text/javascript" src="static/js/login.js"></script>

<div class="centered-horizontal">
  <div class="rounded shadowed" style="max-width: 400px; margin-top: 50px;
                                       width: 70%;">
    <form style="max-width: 650px; margin-left: 10px; margin-right: 10px;"
        method="post" id="login-form">
      <h4 style="text-align: center;">
          Please login to your HackerDojo account:</h4>
      <span style="color: #B23030; margin-left: 10px;">{{ message|safe }}
          {% if forgot_password %}
          <a href="#" id="reset-password">Reset Password</a>
          {% endif %}
      </span>

      <div class="form-group" style="width: 90%; margin-top: 25px;">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email"
            value="{{ email }}">
      </div>
      <div class="form-group" style="width: 90%;">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"
            name="password">
      </div>

      <div style="text-align: center; margin-top: 25px; width: 75%;">
        <input type="submit" class="btn btn-primary btn-lg btn-block
                                    btn-disabled"
            value="Login" id="login" disabled />
      </div>

    </form>

    <!-- Contains info for the forgotten password message. -->
    <div id="forgot-password" style="text-align: center; margin-left: 30px;
        margin-right: 30px; width: 90%; display: none;">
      <h1 style="color: white;">Thank You!</h1>
      <p style="color: white;">
          An email has been sent to you, containing further instructions.</p>
      <button type="button" class="btn btn-primary"
          style="margin-top: 10px;" id="return-button">OK</button>
    </div>

  </div>

  <div style="text-align: center; padding-top: 50px;">
    <a href="/">Sign Up</a>
  </div>

</div>

{% if show_modal %}
<script type="text/javascript" src="static/js/new-accounts-modal.js"></script>
{% endif %}

<div id="new-accounts-modal" class="modal fade in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Accounts</h4>
      </div>

      <div class="modal-body">
        <p>HackerDojo is moving away from Google Apps accounts. This means
        that you will no longer be authenticating with your @hackerdojo.com
        email address, in fact, this address is now deprecated. Instead, we
        are rolling out a new authentication system that uses the normal
        email that you signed up with.</p>
        <p>There is just one problem:</p>
        <p>For technical and privacy reasons, we are unable to transfer over
        the password you used with your @hackerdojo.com email address. This
        means that we need you to enter a new password. After you do this,
        you will be able to log in to any HackerDojo web applications using
        the email you signed up with and this password.</p>
        <p>Clicking on the "Reset Password" button will cause an email to be
        sent to you with further instructions on resetting your
        password.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
            data-dismiss="modal" id="modal-password-reset">
            Reset Password</button>
        <button type="button" class="btn btn-default"
            data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}
