{% extends 'templates/base.html' %}
{% block content %}

<head>
<h4>{{ dev_message }}</h4>
<h4 class="steps">
  <span class="step"><span>1</span> Info &rarr; </span>
  <span class="step inactive"><span>2</span> Plan &rarr; </span>
  <span class="step inactive"><span>3</span> Create Account &rarr; </span>
  <span class="step inactive"><span>4</span> Billing &rarr; </span>
  <span class="step inactive"><span>5</span> Done!</span>
</h4>
</head>

<form action="/" method="post">
<div class="centered">
  {% if message %}
    <h4 style="color: red; width: 50%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;">{{ message }}</h4>
  {% endif %}
  <div>
    <label class="field-label">First name:<sup>*</sup></label>
    <input type="text" name="first_name" />
  </div>
  <div>
    <label class="field-label">Last name:<sup>*</sup></label>
    <input type="text" name="last_name" />
  </div>
  <div>
    <label class="field-label">Email:<sup>*</sup></label>
    <input type="text" name="email" />
  </div>
  <div>
    <label class="field-label">Twitter:</label>
    <input type="text" name="twitter" />
  </div>

  <div class="centered" style="font-size: smaller;">How did you hear about us?<br />
    <textarea name="referrer"></textarea><br />
    <sup>*</sup> Required  <br />
    <input type="submit" value="Next step &rarr;" style="font-size: large; margin-top: 25px;" /><br />
  </div>
</div>
<div style="background-color: lightyellow; border: 1px solid goldenrod; padding: 10px; margin-top: 40px;">We're so glad you're joining our wonderful non-profit organization to help foster hacker community! Remember, not everything is perfect yet and things move a little slower in a mostly volunteer organization, but we're constantly improving.<br /><br />
You'll soon be a member, and you'll have the power to vote, but more importantly, the <strong>power to act</strong> to make Hacker Dojo better. We're looking forward to having you as part of the community.</div>

<input type="hidden" name="referuserid" id="referuserid" />

</form>

{% endblock %}
