{% extends 'templates/base.html' %}
{% block content %}

<head>
  <h4 class="steps">
    <span class="step inactive"><span>1</span> Info &rarr; </span>
    <span class="step"><span>2</span> Plan &rarr; </span>
    <span class="step inactive"><span>3</span> Create Account &rarr; </span>
    <span class="step inactive"><span>4</span> Billing &rarr; </span>
    <span class="step inactive"><span>5</span> Done!</span>
  </h4>
</head>

<body>
  <div class="centered" style="margin-top: 20px;">
    <h4>Please select your plan: (You can change it later.)</h4>
    <table class="table table-striped">
    <thead>
      <tr><th>Name</th><th>Price/Month</th><th>Visits/Month</th><th>Desk</th></tr>
    </thead>
    <tbody>
      <tr><td title="Our standard membership.">Full</td><td>$195</td><td>&infin;</td><td>&#x2718;</td>
          <td><a href="{{ full_url }}" role="button" class="btn btn-primary">Buy</a></td></tr>
      <tr><td title="Get your own desk to work at!">Premium</td><td>$325</td><td>&infin;</td><td>&#x2714;</td>
          <td><a href="{{ premium_url }}" role="button" class="btn btn-primary">Buy</a></td></tr>
      <tr><td title="Limited but cheaper.">Lite</td><td>$125</td><td>{{ lite_visits }}</td><td>&#x2718;</td>
          <td><a href="{{ lite_url }}" role="button" class="btn btn-primary">Buy</a></td></tr>
      <tr><td title="Pay per year instead.">Yearly <span class="label label-success">Best Value!</span>
          </td><td>$125</td><td>&infin;</td><td>&#x2718;</td>
          <td><a href="{{ yearly_url }}" role="button" class="btn btn-primary">Buy</a></td></tr>
    </tbody>
    </table>
  </div>
</body>

{% endblock %}
