{% extends 'base.html' %}
{% block content %}
<center>
<h4 style="margin-bottom: 20px; padding-left: 0px;">
  Parking Pass
</h4>
<span style="color: red; margin-bottom: 20px; display: block;">{{ message }}</span>
<div>
	<div style="width: 80%; background: #fee; border: 2px solid #db002a;  margin: 5px; padding: 10px;">
	<p style="font-size: smaller;">
		Enter Member Email or Username:
	</p>
		{% if not exists %}
		<form action="{{self.request.path}}" method="post" style="margin:0px;">
		Email <input type="text" name="email" style="font-size: larger;  display: block;"/><br />
		Username <input type="text" name="username" style="font-size: larger;  display: block;"/><br />
		<input type="submit" value="Continue here" style="font-size: larger;"/>
		</form>
		{% endif %}
		{% if exists %}
		<div style = "font-size: larger;">This Parking Pass already exists: {{membership.parking_pass}}</div>
		{% endif %}
	</div>
		<div style="padding-top: 50px;"><a href="http://dashboard.hackerdojo.com">Back to Dashboard</a></div>
</div>
</center>
{% endblock %}