{% extends 'templates/base.html' %}
{% block content %}


<h2>User List</h2>

<style>
.log td {border-bottom:1px solid #ccc; border-right:1px solid #ccc; font-size:12px; padding:2px}
table.log {border-left:1px solid #ccc; border-top:1px solid #ccc; margin-top:0}
.log .header {font-weight:bold;}
h3 {margin-top:3em}
.bad {background:#fdd}
</style>

<table class="log" width="100%" cellspacing="0" cellpadding="0" border="0">
<tr class="header">
  <td>Name</td>
  <td>Username</td>
  <td>Plan</td>
  <td>Status</td>
  <td>Spreedly</td>
  <td>RFID</td>
  <td>Parking Pass</td>
</tr>

{% for i in range(0, signup_users|count) %}
  <tr>
    <td><a
    href="https://appengine.google.com/datastore/edit?app_id=hd-signup-hrd&key={{ user_keys[i] }}">
        {{ signup_users[i].last_name }}, {{ signup_users[i].first_name }}</a></td>
    <td {% if not signup_users[i].username%}class="bad"{% endif %}>
        {{ signup_users[i].username }}</td>
    <td><a href="/genlink/{{ user_ids[i] }}">{{ signup_users[i].plan }}</a></td>
    <td {% if not signup_users[i].status %}class="bad"{% endif %}>
        {{ signup_users[i].status }}</td>
    <td {% if not signup_users[i].spreedly_token %}class="bad"{% endif %}>
        {% if signup_users[i].spreedly_token %}Yes{% else %}No{% endif %}</td>
    <td>{{ signup_users[i].rfid_tag }}</td>
    <td>{{ signup_users[i].parking_pass }}</td>
  </tr>
{% endfor %}
</table>



{% endblock %}
